REMOTION_AWS_ACCESS_KEY_ID=replace_me
REMOTION_AWS_SECRET_ACCESS_KEY=replace_me
REMOTION_AWS_BUCKET_NAME=replace_me
REMOTION_AWS_REGION=us-east-1
REMOTION_AWS_TRANSFER_ACCELERATION=false

PORT=4005
RUST_MEDIA_PROCESSOR_PORT=4005
