NODE_ENV=development
PORT=4000
FRONTEND_URL=http://ai-video-editor.localhost:1355
WEBSOCKET_ALLOWED_ORIGINS=http://ai-video-editor.localhost:1355
AI_GATEWAY_API_KEY=
AI_GATEWAY_LOCAL_LOGS=false
OPENAI_API_KEY=
OPENAI_BASE_URL=
OPENAI_ORGANIZATION=
OPENAI_PROJECT=
ELEVENLABS_API_KEY=

MEDIA_PROCESSOR_URL=http://media-ai-video-editor.localhost:1355

REMOTION_AWS_BUCKET_NAME=
REMOTION_AWS_SECRET_ACCESS_KEY=
REMOTION_AWS_ACCESS_KEY_ID=
REMOTION_AWS_REGION=
REMOTION_AWS_TRANSFER_ACCELERATION=true
REMOTION_LAMBDA_FUNCTION_NAME=

DEEPGRAM_API_KEY=
12LABS_API_KEY=
TWELVELABS_INDEX_NAME=ai-video-editor
TWELVELABS_INDEX_ID=

STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
STRIPE_PRICE_GROWTH=price_...
STRIPE_PRICE_AGENCY=price_...
